@font-face {
    font-family: 'Sohne';
    src: url(./assets/TestSöhne-Buch.ttf);
}

:root {
    --bg: #FFFFFF;
    --side-bg: #000000;
    --text: #ECECF1;
    --text-sec: #838383;
    --span: #999999;
    --accent: #10A37F;
    --a-hover: #0E9272;
    --hover: #E5E5E5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sohne, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scrollbar-width: none;
}

*::selection {
    /* background-color: #0C1525; */
}

body::-webkit-scrollbar {
    display: none;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.side-bar:hover .side-chat,
.side-menu:hover .side-list {
    display: flex
}

.user:hover .user-content {
    opacity: 1;
}

.assistant:hover .assistant-content {
    opacity: 1;
}

.card:hover .arrow{
    display: flex;
}