:root {
    --background-color: ;
    --navbar-color: #1E1F26;
    --accent-color: #1A2232;
    --text-color: #AFB0B3;
    --icon-color: #C9C9C9;
    --text-secondary-color: #414C5C;
    --success-color: #3E7952;
    --alert-color: #A6342F;
}